.main,.main>.cont,.reclist{overflow:hidden}
.div_inline_block,.iblock,.inblock,.main>.cont>*,.map_rec_list>a>i,.page_name td.btns>a,.reclist .card .thumb>*,.reclist .card h2 .del,.reclist .card>.triangle,.search_span i,.theme_info .faceCont>.inner>*{display:inline-block;vertical-align:top;*zoom:1;*display:inline}
.__icon,.page_name td.btns>a,.reclist .card .dot,.reclist .card h2 .del,.search_span i{background-repeat:no-repeat;background-position:50% 50%}
.clear{font-size:0;height:0;width:0;clear:both}
.center{margin-left:auto;margin-right:auto}
.map_rec_list .list_cont>li,.txcut{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.planeUl{list-style:none}
.planeUl li{margin:0}
.noSelect{-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;user-select:none}
.date_box,.reclist,.yahei{font-family:"\5FAE\8F6F\96C5\9ED1","Microsoft YaHei","\9ED1\4F53","\65B0\5B8B\4F53"}
.heiti{font-family:"\9ED1\4F53",SimHei}
.expandin,.reclist .card .thumb img,.theme_info .faceCont>.inner .img img,.theme_info .minimapCont .miniMap{width:100%;height:100%;top:0;left:0}
.v_hidden{position:absolute;clip:rect(1px 1px 1px 1px);clip:rect(1px,1px,1px,1px)}
.page_name{font-family:"\5FAE\8F6F\96C5\9ED1","Microsoft YaHei","\9ED1\4F53","\65B0\5B8B\4F53";font-weight:100;background-color:#fff}
.page_name td{color:#818181;line-height:1.7em;font-size:14px}
.page_name td.back{width:50px}
.page_name td.back a{color:#424242;font-size:42px;font-weight:400;background:url(../images/fanhui.png) 9px 4px no-repeat;display:inline-block;width:30px;height:30px}
.page_name td.headimg{width:50px}
.page_name td.headimg img{width:36px;height:36px;border:1px solid #d8d8d8}
.page_name td.headname{width:50px;color:#424242}
.page_name td.headname span{padding-right:12px;font-size:14px;border-right:1px #d8d8d8 solid}
.page_name td.info{line-height:1.8em}
.page_name td.info>p{font-size:130%;font-weight:500;color:#424242}
.page_name td.btns>a,.search_span em{display:inline-block;color:#fff;vertical-align:middle}
.page_name td.info>div{margin-left:-6px}
.page_name td.info>div input[type=radio]{position:relative;top:2px;margin-right:-.25em}
.page_name td.info>div label{margin-right:.5em}
.page_name td.search_td{text-align:right}
.page_name td.btns{width:350px;text-align:right;padding-right:12px}
.page_name td.btns>a{background-image:none;width:auto;height:30px;line-height:30px;border-radius:15px;background-position:0 50%;padding-left:1em;padding-right:.5em;font-size:11.2px}
.page_name td.btns>a.add{background-image:url(../images/icon_add.png);background-color:#ED5052}
.page_name td.btns>a.setting{background-image:url(../images/icon_chilun.png);background-color:#00c5c3}
.page_name td.btns>a.chart{background-image:url(../images/icon_tongji.png);background-color:#c76cf7}
.page_name td.btns>a.location{background-image:url(../images/icon_weizhi.png);background-color:#008aff}
.page_name td.btns>a.clock{background-image:url(../images/icon_clock.png);background-color:#008aff}
.search_span{position:relative;display:inline-block;vertical-align:middle}
.search_span input{height:16px;line-height:16px;padding:6px 3em 6px 1em;border-radius:15px;border:1px solid #ff7e00;outline:0;width:15em}
.search_span em{border-radius:15px;height:30px;line-height:30px;background:url(../images/icon_glass.png) .75em 50% no-repeat #ff7e00;padding-left:1.5em;padding-right:1em;cursor:pointer}
.search_span i{width:18px;height:18px;background-image:url(../images/icon_clean.png);vertical-align:middle;position:relative;z-index:9;margin-left:-2.4em;margin-right:1.4em}
.search_span i:hover{background-color:#f0f0f0}
.timeline.yearlist li.cur>span:after,.timeline.yearlist li.cur>span:before{background-color:#EC4A4C}
.main>.cont{margin-left:12px;height:100%;width:1200px;font-size:0;white-space:nowrap}
.main>.cont>.cell-1{width:830px;margin-right:12px}
.main>.cont>.cell-2,.main>.cont>.cell-last{width:358px}
.main>.cont>*{font-size:12px;white-space:normal;height:100%}
.timeline{padding-top:10px}
.timeline.yearlist li{line-height:16.8px}
.timeline.yearlist li.cur>span em{color:#EC4A4C}
.timeline.yearlist span:after,.timeline.yearlist span:before{content:"";background-color:#3469B4}
.timeline.yearlist span{padding-top:3px;padding-bottom:3px;vertical-align:top;display:block;line-height:16.8px;cursor:default;font-size:0;padding-left:8.4px;position:relative}
.timeline.yearlist span:before{margin-right:6px;display:inline-block;width:16.8px;height:16.8px;line-height:16.8px;vertical-align:middle;margin-top:-1px}
.timeline.yearlist span:after{position:absolute;width:1px;left:21px;top:0;height:100%}
.timeline.yearlist span:hover{background-color:#fff}
.timeline.yearlist span em{font-size:14px;display:inline-block;vertical-align:middle}
.timeline .monthlist>li span:before{margin-left:8.4px;width:8.4px;height:8.4px;line-height:8.4px}
.reclist{height:100%;position:relative}
.reclist>.cardCont{height:100%;overflow-y:auto;padding-right:12px;padding-left:80px}
.reclist>.cardCont ::-webkit-scrollbar{width:8px}
.reclist>.cardCont ::-webkit-scrollbar-thumb{border-radius:10px;background:rgba(0,0,0,.2)}
.reclist>.cardCont ::-webkit-scrollbar-thumb:window-inactive{background:rgba(0,0,0,.1)}
.reclist>.cardCont ::-webkit-scrollbar-thumb:vertical:hover{background-color:rgba(0,0,0,.3)}
.reclist>.cardCont ::-webkit-scrollbar-thumb:vertical:active{background-color:rgba(0,0,0,.7)}
.reclist>.line{position:absolute;top:0;left:40px;height:100%;width:4px;margin-left:-2px;background-color:#3469B4}
.reclist .card{background-color:#fff;min-height:90px;border-radius:12px;box-shadow:#b9b9b9 3px 3px 3px;border:1px solid #dfdfdf;margin-bottom:24px;position:relative}
.reclist .card>.inner{padding:24px}
.reclist .card>.triangle{border:16px solid transparent;border-left-width:0;width:0;height:0;font-size:0;line-height:0;vertical-align:middle;border-right-color:#fff;position:absolute;left:-16px;top:45px;margin-top:-16px}
.reclist .card .dot{width:40px;height:40px;margin-left:-20px;margin-top:-20px;background-image:url(../images/time_label_1.png);position:absolute;top:45px;background-color:#E8EFF9;left:-40px}
.reclist .card h2{font-weight:100;font-size:21px;height:36px}
.reclist .card h2>a{color:#EC4A4C;font-weight:400}
.reclist .card h2>.date{color:#6F6F6F;padding-right:2em;font-weight:400}
.reclist .card h2 .msg{background:url(../images/icon_msg.png) 0 50% no-repeat;display:inline-block;padding-left:1em;font-size:16px;text-indent:8px;line-height:22px;color:#333}
.reclist .card h2 .g{display:inline-block;vertical-align:top;height:22.4px;width:1px;background-color:#A0A0A0}
.reclist .card h2 .del{width:22.4px;height:22.4px;background-image:url(../images/icon_dele.png);cursor:pointer}
.reclist .card h2 .del:hover{background-color:#f0f0f0}
.reclist .card h2>.r{float:right}
.reclist .card .desc{font-size:14px;font-family:"\5B8B\4F53",SimSun;color:#000;margin-bottom:2em;word-wrap:break-word;line-height:23px;letter-spacing:.5px}
.reclist .card .thumb{margin-top:-1em;padding-top:1%;padding-bottom:1%;text-indent:0;left:-.5%;position:relative;font-size:0;width:101%}
.reclist .card .thumb>*{font-size:14px;min-height:1%;margin-bottom:1%;margin-left:.5%;margin-right:.5%;width:32.33333333%}
.reclist .card .thumb span{height:230px}
.reclist .card .thumb img{display:block}
.reclist .card .info{font-size:12.6px;display:inline-block;line-height:21px}
.reclist .card .info .loca{color:#616161;background:url(../images/icon_localtion_black.png) 0 50% no-repeat;padding-left:1.5em}
.reclist .card .info .loca.break{padding-left:1.7em;background-image:url(../images/icon_link_break.png)}
.reclist .card .info .loca.break.link1{background-image:url(../images/icon_theme12.png)}
.mainCont.no_gap .main{top:64px;bottom:0}
.date_box{background-color:#E8EFF9;position:absolute;width:80px;height:1.2em;font-size:18.2px;text-align:center;left:12px;top:72px;z-index:9}
.main_scroller{display:none;position:fixed;right:0;top:148px;background-color:red;width:60px;bottom:12px}
.theme_info{z-index:16;position:relative;height:100%}
.theme_info .faceCont{border:1px solid #D6D6D6;padding:6px;background-color:#f7f9fc}
.theme_info .faceCont>.inner{text-indent:0;left:-1%;position:relative;font-size:0;width:102%;padding-top:8px;padding-bottom:8px}
.theme_info .faceCont>.inner>*{font-size:14px;min-height:2%;margin-left:1%;margin-right:1%;width:160px;height:170px;padding-top:0;margin-bottom:0}
.theme_info .faceCont>.inner .img img{display:block}
.theme_info .faceCont>.inner .desc{position:relative;font-family:"\5FAE\8F6F\96C5\9ED1","Microsoft YaHei","\9ED1\4F53","\65B0\5B8B\4F53"}
.theme_info .faceCont>.inner .desc h4{margin-bottom:6px;margin-top:4px;margin-left:8px}
.theme_info .faceCont>.inner .desc p{text-indent:2em;line-height:20px;margin-left:8px}
.theme_info .faceCont>.inner .desc .quanxian{position:absolute;width:183px;bottom:6px;font-size:13px}
.mapCont,.map_rec_list,.theme_info .minimapCont{position:absolute;bottom:0;right:0}
.theme_info .faceCont>.inner .desc .quanxian .qx{color:#5087d6}
.theme_info .faceCont>.inner .desc .quanxian em{color:#f1a02f}
.theme_info .faceCont>.inner .desc a{padding-left:1.3em;line-height:1em;background:url(../images/icon_shoucang.png) 0 50% no-repeat}
.theme_info .faceCont>.inner .desc a:hover{cursor:pointer;opacity:.8;filter:alpha(opacity=80)}
.theme_info .faceCont>.inner .desc a.no_fav{background-image:url(../images/icon_qxshare.png)}
.theme_info .minimapCont{padding:6px;top:211px;border:1px solid #D6D6D6;left:0;background-color:#f7f9fc}
.theme_info .minimapCont .miniMap{background-color:#f1a02f}
.mapCont{z-index:99;top:0;left:0;background-color:#CCC}
.map_rec_list{z-index:9;white-space:nowrap}
.map_rec_list>a{font-size:14px;display:inline-block;vertical-align:top;padding-left:1em;padding-right:1em;line-height:3em;color:#fff;background-color:#ff7e00;margin-right:1em;font-weight:700;position:relative}
.map_rec_list>a>i{border:7px solid transparent;border-bottom-width:0;width:0;height:0;font-size:0;line-height:0;vertical-align:middle;border-top-color:#fff;position:absolute;bottom:43px;left:50%;z-index:7;margin-left:-7px;display:none}
.map_rec_list>a.hover .list_cont,.map_rec_list>a.hover>i{display:block}
.map_rec_list .list_cont{display:none;position:absolute;bottom:3.5em;min-height:3em;max-height:20em;min-width:12em;right:0;overflow-y:auto;background-color:#fff;color:#333;font-weight:100;border:1px solid #C5C5C5;border-radius:5px}
.map_rec_list .list_cont>li{line-height:2em;text-indent:1em;border-bottom:1px solid #C5C5C5;margin-left:1px;margin-right:1px;cursor:pointer}
.map_rec_list .list_cont>li:last-child{border-bottom:none}
.map_rec_list .list_cont>li:hover{background-color:#E8EFF9}
.blank_tip{position:absolute;font-size:14px;top:0;line-height:2em;margin-left:72px;margin-top:1em}
::-webkit-scrollbar{width:8px}
::-webkit-scrollbar-thumb{border-radius:10px;background:rgba(0,0,0,.2)}
::-webkit-scrollbar-thumb:window-inactive{background:rgba(0,0,0,.1)}
::-webkit-scrollbar-thumb:vertical:hover{background-color:rgba(0,0,0,.3)}
::-webkit-scrollbar-thumb:vertical:active{background-color:rgba(0,0,0,.7)}