.div_inline_block,.iblock,.inblock,.navright .service_app .selectBox .selectBox-arrow{display:inline-block;vertical-align:top;*zoom:1;*display:inline}
.__icon{background-repeat:no-repeat;background-position:50% 50%}
.font_wei{font-family:"Microsoft YaHei"}
.font_song{font-family:SimSun}
.clear{clear:both}
textarea{outline:0;resize:none}
.navright{position:relative;font-family:"Microsoft YaHei";color:#333}
.navright .fwtop{height:115px;line-height:115px;background-color:#eaedf2;position:relative;top:0;width:100%;z-index:999}
.navright .fwtop em{position:absolute;font-size:28px;top:0;left:33px}
.navright .fwtop a{position:absolute;font-size:20px;color:#4c78d5;top:3px;left:159px}
.navright .fwtop span{height:115px;line-height:115px;position:absolute;top:0;right:33px;display:block;font-size:14px;cursor:pointer}
.navright .service_app{font-family:"Microsoft YaHei";margin:17px 28px 0}
.navright .service_app .service_search{width:100%;min-width:925px;font-size:14px;color:#acabab;overflow:hidden;margin:46px 0 28px}
.navright .service_app .service_search .sqsj{width:48%;float:left;font-family:"Microsoft YaHei"}
.navright .service_app .service_search .sqsj em{margin-right:10px}
.navright .service_app .service_search .service_search_top{width:400px;color:#4c78d5;font-size:20px;float:right}
.navright .service_app .service_search .service_search_top .fw_search{color:#fff;font-size:16px;background-color:#4c78d5;padding:4.5px 21px;right:0;top:0;cursor:pointer}
.navright .service_app .service_search .service_search_top .fw_value{width:300px;height:26px;line-height:26px;border:1px solid #c2c4c6;text-indent:9px;font-size:16px}
.navright .service_app .zhushi{text-align:right;color:#acabab;font-family:"Microsoft YaHei";font-size:14px;height:23px;line-height:23px;margin-bottom:12px}
.navright .service_app .zhushi img{margin:0 5px;vertical-align:middle}
.navright .service_app table.servicetab tr.first td:nth-of-type(7){text-align:center}
.navright .service_app table.servicetab td{width:13%;line-height:21px;padding:9px 5px}
.navright .service_app table.servicetab td.max{width:21%}
.navright .service_app table.servicetab td:nth-of-type(1){width:6%}
.navright .service_app table.servicetab td:nth-of-type(2),.navright .service_app table.servicetab td:nth-of-type(3){text-decoration:underline}
.navright .service_app table.servicetab td:nth-of-type(7){text-align:left;width:157px;margin:0 auto;display:inline-block}
.navright .service_app table.servicetab td img{width:16px;height:14px;vertical-align:middle}
.navright .service_app table.servicetable th.max{width:20%}
.navright .service_app table.servicetable td{width:15%;line-height:21px;padding:9px 5px}
.navright .service_app table.servicetable td:nth-of-type(2),.navright .service_app table.servicetable td:nth-of-type(3){text-decoration:underline}
.navright .service_app table.servicetab,.navright .service_app table.servicetable{font-family:"Microsoft YaHei";width:100%;min-width:1095px;text-align:center}
.navright .service_app table.servicetab tr,.navright .service_app table.servicetable tr{height:45px;line-height:45px;font-size:14px;font-family:"Microsoft YaHei";border:1px solid #d2d2d2;border-top:0}
.navright .service_app table.servicetab tr.first,.navright .service_app table.servicetable tr.first{background:#4c78d5!important;border:1px solid #4c78d5!important;border-top:0!important;height:55px;line-height:55px;color:#fff}
.navright .service_app table.servicetab tr.first td:nth-of-type(2),.navright .service_app table.servicetab tr.first td:nth-of-type(3),.navright .service_app table.servicetable tr.first td:nth-of-type(2),.navright .service_app table.servicetable tr.first td:nth-of-type(3){text-decoration:blink}
.navright .service_app table.servicetab tr:nth-of-type(2n+1),.navright .service_app table.servicetable tr:nth-of-type(2n+1){background:#f6f6f6}
.navright .service_app table.servicetab span,.navright .service_app table.servicetable span{cursor:pointer;color:#fff;text-align:center;display:inline-block;height:30px;line-height:30px}
.ddxq,.navright .service_app table.servicetab span.non,.navright .service_app table.servicetable span.non,.yddxq{display:none}
.navright .service_app table.servicetab span.des,.navright .service_app table.servicetable span.des{background:#f84c4c;width:80px}
.navright .service_app table.servicetab span.pz,.navright .service_app table.servicetable span.pz{margin:0 10px;background:#fd7e01;width:56px}
.navright .service_app table.servicetab span.npz,.navright .service_app table.servicetable span.npz{background:#3ab970;width:56px}
.navright .service_app table.servicetab span.stop,.navright .service_app table.servicetable span.stop{margin-left:20px;background:#1ccfb2;width:56px}
.navright .service_app .page{width:645px;margin:10px auto}
.navright .service_app .page.compact-theme .current{color:#dde6f8;background:#235dd7;background:-webkit-linear-gradient(top,#235dd7 0,#235dd7 100%)}
.navright .service_app .page.compact-theme a,.navright .service_app .page.compact-theme span{border:0 solid #839ACA;box-shadow:0 0 0 rgba(0,0,0,.2);background:#4C78D5;color:#fff;line-height:30px}
.navright .service_app .page.compact-theme .ellipse{background:#4c78d5;color:#fff}
.navright .service_app .page.compact-theme a:hover{background:#4C78D5;background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#4C78D5),color-stop(100%,#4C78D5));color:#fff}
.navright .service_app .page li{margin:0 5px;border:0}
.navright .service_app .page li a.page-link.prev,.navright .service_app .page li span.current.prev{background:url(../images/left_jt.png) center no-repeat #4C78D5;width:24px;height:30px;font-size:0;text-align:center}
.navright .service_app .page li a.page-link.next,.navright .service_app .page li span.current.next{background:url(../images/right_jt.png) center no-repeat #4C78D5;width:24px;height:30px;font-size:0;text-align:center}
.navright .service_app .selectBox{font-size:14px;font-family:"Microsoft YaHei";background:0 0;height:28px;line-height:28px;position:relative;min-width:300px;border:1px solid #c2c4c6;border-radius:0;-webkit-box-shadow:0 0 0 rgba(255,255,255,.75)}
.navright .service_app .selectBox .selectBox-label{font-size:14px;padding:0 1em;min-width:217px}
.navright .service_app .selectBox .selectBox-arrow{background:0 0;border:none!important;border:5px solid transparent!important;border-bottom-width:0!important;width:0!important;height:0!important;font-size:0!important;line-height:0!important;vertical-align:middle!important;border-top-color:#5b83d8!important;position:absolute;top:50%;margin-top:-2.5px;right:8px}
.selectBox-dropdown-menu.selectBox-options.selectBox-selectBox-dropdown-menu{border:1px solid #c2c4c6!important;border-radius:0}
.selectBox-dropdown-menu.selectBox-options.selectBox-selectBox-dropdown-menu li a{height:30px;line-height:30px;font-size:14px;font-family:"Microsoft YaHei"}
.selectBox-dropdown-menu.selectBox-options.selectBox-selectBox-dropdown-menu li.selectBox-selected{height:30px;line-height:30px}
.ddxq,.yddxq{height:auto;margin:0 auto;padding:0 30px 30px}
.ddxq .ddtop,.yddxq .ddtop{width:812px;height:35px;line-height:35px;margin:40px auto 0;font-size:14px;color:#333;font-family:"Microsoft YaHei"}
.ddxq .ddtop em,.yddxq .ddtop em{color:#4c78d5}
.ddxq .ddtop em.bianhao,.yddxq .ddtop em.bianhao{margin-right:28px}
.ddxq .ddtop span,.yddxq .ddtop span{width:120px;height:35px;line-height:35px;display:inline-block;text-align:center;color:#fff;font-size:16px;float:right;cursor:pointer}
.ddxq .ddtop .close,.yddxq .ddtop .close{background-color:#f9820c;margin-right:35px}
.ddxq .ddtop .stamp,.yddxq .ddtop .stamp{background-color:#49dba6}
.ddxq table,.yddxq table{margin:0 auto}
.ddxq table .ordertitle,.yddxq table .ordertitle{background-color:#6896f6;color:#fff;font-size:18px;font-family:"Microsoft YaHei";text-indent:0}
.ddxq table .ordercenter,.yddxq table .ordercenter{background-color:#f0f4fb;color:#4c78d5;font-size:16px;font-family:"Microsoft YaHei";text-align:center;text-indent:0}
.ddxq table .ordercenter p,.yddxq table .ordercenter p{width:16px!important;padding:0 0 0 30px!important;text-align:center!important;direction:rtl!important;direction:inherit;vertical-align:middle!important}
.ddxq table.dwxx,.yddxq table.dwxx{margin-top:20px}
.ddxq table.sysj,.yddxq table.sysj{margin-bottom:60px}
.ddxq table td,.yddxq table td{font-size:13px;color:#333;height:40px;line-height:40px;border:1px solid #6896f6;text-indent:9px}
.ddxq table .tit1,.yddxq table .tit1{color:#030303}
.ddxq table .tit1.bg,.yddxq table .tit1.bg{background-color:#f0f4fb}
.ddxq table.row,.yddxq table.row{margin-top:25px}
.ddxq p.ddxq,.yddxq p.ddxq{text-align:center;float:right;margin:35px 0}
.ddxq p.ddxq span,.yddxq p.ddxq span{width:74px;height:25px;line-height:25px;display:inline-block;cursor:pointer;font-size:14px;font-family:"Microsoft YaHei"}
.ddxq p.ddxq span.back,.yddxq p.ddxq span.back{background-color:#c2c4c6;color:#333}
.ddxq p.ddxq span.sure,.yddxq p.ddxq span.sure{background-color:#4c78d5;color:#fff;margin-left:15px}
.yddxq .ddtop em{color:#4c78d5}
.yddxq .ddtop em.bianhao{margin-right:15px}
.yddxq .ddtop span{width:98px}
.yddxq .ddtop .close{margin-right:14px}