.noSelect,.search_bar .bt{-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none}
.txcut,body,html{overflow:hidden}
.div_inline_block,.iblock,.inblock{display:inline-block;vertical-align:top;*zoom:1;*display:inline}
.__icon{background-repeat:no-repeat;background-position:50% 50%}
.clear{font-size:0;height:0;width:0;clear:both}
.center{margin-left:auto;margin-right:auto}
.txcut{text-overflow:ellipsis;white-space:nowrap}
.planeUl{list-style:none}
.planeUl li{margin:0}
.noSelect{user-select:none}
.yahei{font-family:"\5FAE\8F6F\96C5\9ED1","Microsoft YaHei","\9ED1\4F53","\65B0\5B8B\4F53"}
.heiti{font-family:"\9ED1\4F53",SimHei}
.expandin{width:100%;height:100%;top:0;left:0}
.v_hidden{position:absolute;clip:rect(1px 1px 1px 1px);clip:rect(1px,1px,1px,1px)}
.apply_panel,.search_bar{position:fixed;z-index:99}
.apply_panel{font-family:"\5FAE\8F6F\96C5\9ED1","Microsoft YaHei","\9ED1\4F53","\65B0\5B8B\4F53";bottom:0;right:0;background-color:#fff;width:260px;padding:9px;border:1px solid #4C79D6;border-right:none;border-bottom:none}
.apply_panel i.date{display:none}
.apply_panel h3{font-weight:100;font-size:14px;height:39px;line-height:39px;background-color:#4C79D6;color:#fff;text-align:center;margin-top:-10px;margin-left:-10px;padding:0 11px;width:100%}
.apply_panel .img{display:block;margin-top:9px}
.apply_panel .img img{width:100%;display:block}
.apply_panel .attrs{margin-top:9px;line-height:2em;color:#4C79D6;background-color:#F3F3F3;padding:9px}
.apply_panel .attrs em{display:inline-block;color:#6a6a6a}
.apply_panel .applic_btn,.search_bar .bt,.search_bar .cls{text-align:center;color:#fff}
.apply_panel .ft_list{display:none;font-size:14px}
.apply_panel .ft_list li{line-height:2.7em;background:url(../images/iconfont-location_red.png) .5em 50% no-repeat;text-indent:2em}
.apply_panel .ft_list li.cur{background-image:url(../images/iconfont-location_green.png)}
.apply_panel .ft_list li:hover{cursor:pointer;background-color:#f0f0f0}
.apply_panel .trypage,.apply_panel.search_list_mode .attrs,.apply_panel.search_list_mode .img{display:none}
.apply_panel.search_list_mode .ft_list,.apply_panel.search_list_mode .trypage{display:block}
.apply_panel .applic_btn{display:block;line-height:3em;background-color:#4C79D6}
.apply_panel .applic_btn:hover{background-color:#3471ef}
.search_bar{left:140px;box-shadow:#c1c1c1 0 0 5px;height:39px}
.search_bar .bt{padding:0 1em;user-select:none;min-width:39px}
.search_bar input{height:16px;line-height:16px;padding:11.5px 1em;margin-right:24px}
.search_bar .bt,.search_bar .lb{height:39px;line-height:39px}
.search_bar .cls{cursor:pointer;-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;user-select:none;position:absolute;width:24px;height:24px;margin-left:-12px;margin-top:-12px;line-height:24px;top:50%;right:75px;background-color:#4C79D6;font-size:18px!important;border-radius:50%}
.ol-overlaycontainer-stopevent .ol-zoom{top:133px}
.ol-overlaycontainer-stopevent .ol-zoomslider{top:196px}
.ol-overlaycontainer-stopevent .trm-mapswitcher{top:133px}
.search_bar{top:133px!important}